/* MainFontBold */
@font-face {
  font-family: MainFontBold;
  src: url("../static/fonts/MainFontBold.ttf");
}

/* MainFontMedium */
@font-face {
  font-family: MainFontMedium;
  src: url("../static/fonts/MainFontMedium.ttf");
}

/* MainFontSemibold */
@font-face {
  font-family: MainFontSemibold;
  src: url("../static/fonts/MainFontSemibold.ttf");
}

/* MainFontText */
@font-face {
  font-family: MainFontText;
  src: url("../static/fonts/MainFontText.ttf");
}

/* MainFontThin */
@font-face {
  font-family: MainFontThin;
  src: url("../static/fonts/MainFontThin.ttf");
}

/* MainFontUltralight */
@font-face {
  font-family: MainFontUltralight;
  src: url("../static/fonts/MainFontUltralight.ttf");
}