main {
  display: flex;
  justify-content: center;

  .mainIn {
    width: 100%;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-size: 30px;
      font-weight: lighter;
      color: #333;
      text-shadow: 1px 1px 3px rgba(150, 150, 150, 0.24);
      font-family: MainFontThin;
    }

    p {
      font-size: 17px;
    }
    // Home Page Start
    .slider {
      display: flex;
      align-items: center;
      padding-left: 7%;
      height: 656px;
      background-size: cover;
      background-repeat: no-repeat;

      .info {
        border: 2px solid #fff;
        color: #fff;
      }
    }

    .our_services {
      padding: 90px 24%;

      > .title {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        border: 0 solid red;
        margin-bottom: 45px;

        .back_text {
          font-size: 32px;
          opacity: 0.1;
          position: absolute;
        }

        .front_text {
          font-size: 20px;
        }
      }

      .services {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        .service {
          flex-shrink: 0;
          width: 30%;
          height: 265px;
          border: 0 solid #ccc;
          margin-bottom: 5%;
          background: $our_services_bg;
          border-radius: 5px;
          background-repeat: no-repeat;
          background-size: 200px;
          background-position-x: right;
          background-position-y: bottom;

          .title {
            margin-top: 45px;
            margin-left: 45px;
            font-size: 20px;
          }
        }
      }
    }

    .techs {
      background: $slogan_color;
      padding: 90px 24%;

      > .title {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        border: 0 solid red;
        margin-bottom: 45px;

        .back_text {
          color: #fff;
          font-size: 32px;
          opacity: 0.1;
          position: absolute;
        }

        .front_text {
          font-size: 20px;
        }
      }

      > .slogan {}

      .technologies {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        .technology {
          flex-shrink: 0;
          width: 90px;
          height: 90px;
          border: 0 solid #ccc;
          margin-bottom: 10px;
          background: $our_services_bg;
          background-repeat: no-repeat;
          background-size: contain;

          .title {
            margin-top: 45px;
            margin-left: 45px;
            font-size: 20px;
          }
        }
      }
    }

    .our_portfolio {
      padding: 90px 24%;

      > .title {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        border: 0 solid red;
        margin-bottom: 45px;

        .back_text {
          font-size: 32px;
          opacity: 0.1;
          position: absolute;
        }

        .front_text {
          font-size: 20px;
        }
      }

      .menu {
        display: flex;

        .item {}
      }

      .projects {
        display: flex;
        flex-flow: column;
        justify-content: space-between;

        .project {
          flex-shrink: 0;
          flex-grow: 1;
          height: 265px;
          border: 0 solid #ccc;
          margin-bottom: 10px;
          background: $our_services_bg;
          border-radius: 5px;
          background-repeat: no-repeat;
          background-size: 200px;
          background-position-x: right;
          background-position-y: bottom;

          .category {
            border: 2px solid $slogan_color;
            color: #fff;
          }

          .title {
            margin-top: 45px;
            margin-left: 45px;
            font-size: 20px;
          }
        }

        .more_projects {
          border-radius: 5px;
          background: $title_color;
          color: #fff;
          display: flex;
          cursor: pointer;
        }
      }
    }

    .we_are_trusted_by {
      padding: 90px 24%;

      > .title {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        border: 0 solid red;
        margin-bottom: 45px;

        .back_text {
          font-size: 32px;
          opacity: 0.1;
          position: absolute;
        }

        .front_text {
          font-size: 20px;
        }
      }

      .companies {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        .company {
          border: 2px solid #F2F4F5;
          height: 150px;
          width: 150px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          img{
            width: 100px;
            padding-top: 20px;
          }
          span{
            padding-top: 20px;
            font-size: 14px;
            height: 20px;
            color: #929AA5;
          }
          .title {
            margin-top: 45px;
            margin-left: 45px;
            font-size: 20px;
          }
        }
      }
    }

    .we_are_featured_by {
      padding: 90px 24%;

      > .title {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        border: 0 solid red;
        margin-bottom: 45px;

        .back_text {
          font-size: 30px;
          opacity: 0.1;
          position: absolute;
        }

        .front_text {
          font-size: 25px;
        }
      }

      .persons {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        .person {
          flex-grow: 1;
          height: 265px;
          border: 0 solid #ccc;
          margin-right: 5px;
          margin-bottom: 5px;
          background: $our_services_bg;
          border-radius: 5px;
          background-repeat: no-repeat;
          background-size: 200px;
          background-position-x: right;
          background-position-y: bottom;

          .title {
            margin-top: 45px;
            margin-left: 45px;
            font-size: 20px;
          }
        }
      }
    }

    .subscription {
      padding: 60px 55px;
      border: 7px solid #f2f4f5;
      margin: 85px 7%;
      border-radius: 10px;
      background-repeat: no-repeat;
      background-position: bottom right;
      background-size: 300px;

      > .title {
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        border: 0 solid red;
        margin-bottom: 45px;
        font-size: 26px;

        b {}

        i {
          font-style: normal;
        }
      }

      > .form form {
        display: flex;

        input {
          font-size: 14px;
          display: flex;
          justify-content: center;
          align-items: center;
          outline: none;
          height: 45px;
          border: 1px solid #d5d9de;
          border-right: 0;
          border-top-left-radius: 30px;
          border-bottom-left-radius: 30px;
          padding-left: 25px;
          padding-right: 25px;
          width: 240px;
        }

        button {
          height: 45px;
          background-image: -moz-linear-gradient(-11deg, rgb(72,108,174) 0%, rgb(36,88,182) 100%);
          background-image: -webkit-linear-gradient(-11deg, rgb(72,108,174) 0%, rgb(36,88,182) 100%);
          background-image: -ms-linear-gradient(-11deg, rgb(72,108,174) 0%, rgb(36,88,182) 100%);
          color: #fff;
          font-size: 14px;
          display: flex;
          justify-content: center;
          align-items: center;
          outline: none;
          padding: 0 25px;
          border-top-right-radius: 30px;
          border-bottom-right-radius: 30px;
          border: none;
        }
      }
    }
    // Home Page End
    .team {
      border: $border2;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;

      .member {
        border: 1px solid #ccc;
        padding: 10px;
        width: 250px;
        height: 400px;
        display: flex;
        flex-flow: column;
        overflow: hidden;
        margin-bottom: 25px;

        .photo {
          width: 100%;
          height: 300px;
          background-size: cover;
        }

        .portfolio {
          display: flex;
          background: #459b45;
          color: #fff;
          font-size: 20px;
          justify-content: center;
          align-items: center;
          padding: 7px 0;
          font-family: MainFontThin;
        }

        .portfolio:hover {
          text-decoration: none;
          opacity: 0.95;
        }
      }
    }
    //slider styles
    .slick-slider {
      .slick-next:before
      {
        border-radius: 50%;
        color: #1F4C9D;
        font-size: 22px;
      }
      .slick-prev:before
      {
        border-radius: 50%;
        color: #1F4C9D;
        font-size: 22px;
      }

    }

    //personsInfo
    .personInfo{
      display: flex;
      align-items: center;
      text-align: right;
      justify-content: space-around;
      flex-direction: row;
      width: 100%;
      img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
      }
      div{
        .personName{
          font-weight: 600;
          font-size: 16px;
        }
        .personPosition{
          font-size: 14px;
          color: #1F4C9D;
        }
        .personCompany{
          font-weight: 800;
          font-size: 20px;
        }
      }
    }
    .we_are_featured_by{
      .slick-dots{
        display: none !important;
      }
    }
    .person{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      text-align: left;

      .personReview{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 85%;
        p{
          color: #7D8794;
          font-size: 12px;
        }
      }
    }

  }
}
