$border1: 0 solid #fff;
$border2: 0 solid blue;
$border2: 2px solid #ff4000;


$content-padding-desktop: 14%;
$content-padding-mobile: 5%;
$content-padding-tablet: 7%;


$color1: #333;
$title_color: #1f4c9d;
$slogan_color: #8a8f96;
$slogan_color2:#a7abb1;
$persons_bg: #f2f4f5;

$header_first_line_color: #eef1f5;
$header_second_line_color: #fff;


$logo_height: 110px;

$our_services_bg: #d5d9de;

$GlobalPadding : 90px 18%;



// Converts pt to px
@function pt-to-px($size-in-points){
  @return #{ round($size-in-points * 1.333333) }px;
}
