
/* MainFontBold */
@font-face {
  font-family: MainFontBold;
  src: url("../fonts/MainFontBold.woff2");
}

/* MainFontMedium */
@font-face {
  font-family: MainFontMedium;
  src: url("../fonts/MainFontMedium.woff2");
}

/* MainFontSemibold */
@font-face {
  font-family: MainFontSemibold;
  src: url("../fonts/MainFontSemibold.woff2");
}

/* MainFontText */
@font-face {
  font-family: MainFontText;
  src: url("../fonts/MainFontText.woff2");
}

/* MainFontThin */
@font-face {
  font-family: MainFontThin;
  src: url("../fonts/MainFontThin.woff2");
}

/* MainFontUltralight */
@font-face {
  font-family: MainFontUltralight;
  src: url("../fonts/MainFontUltralight.woff2");
}
