a{
  text-decoration: none !important;

}
header{

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  background: $color1;


  .header_first_line{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 0 13%;
    height: 40px;

    background: $header_first_line_color;


    > .navBlock{

      display: flex;
      justify-content: space-around;
      align-items: center;

      a{
        color: #000;
        font-family: MainFontThin;
        font-size: pt-to-px(14);
        font-weight: lighter;
        margin: 0 18px;
      }

      a:last-child{
        margin-right: 0;
      }
    }





  }
  .header_second_line{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 13%;
    height: 90px;
    background: $header_second_line_color;


    .logo_section{
      display: flex;
      height: 100%;

      .sub_section_1{

        .logo{
          display: flex;
          height: $logo_height;
          margin-top: -30px;

          img{
            height: 100%;
          }

        }

      }
      .sub_section_2{
        text-decoration: none;
        padding-left: 30px;
        padding-top: 12px;


        @include mobile{
          display: none;
        }

        .title{
          font-size: 28px;
          color: $title_color;
          width: 200px;
        }
        .slogan{
          font-size: 14px;
          color: $slogan_color;
        }
      }

    }



    > .navBlock{

      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 710px;

      .fill_brief, .get_quote{
        border: 2px solid #d5d9de;
        padding: 7px 17px;
        border-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $title_color;
        cursor: pointer;
        font-size: pt-to-px(14);
      }

      .get_quote{
        border-color: $title_color;
        color: #fff;
        background: $title_color;
        margin-left: 18px;
      }

      .phone{
        margin-left: 50px;
        font-size: 16px;
        img{
          width: 17px;
          margin-right: 3px;
          margin-bottom: 2px;
        }
      }

      .language{
        display: flex;

        span{
          padding: 3px 6px;
          cursor: pointer;
          color: $slogan_color;
        }

        .active{
          background: $title_color;
          color: #fff;
          display: flex;
        }
      }


    }





  }


}
